<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <!--Spring配置-->
        <!--可选配置-->
        <context:property-placeholder location="classpath:db.properties"/><!--Spring工厂的后置处理器-->
        <!--事务控制-->
        <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
            <property name="sessionFactory" ref="sessionFactoryBean"/>
        </bean>
        <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
        <tx:advice id="advice" transaction-manager="transactionManager">
            <tx:attributes>
                <tx:method name="*Service"/>
            </tx:attributes>
        </tx:advice><!--对当前的方法进行事务管理-->
        <!--Aop-->
        <aop:config>
            <aop:pointcut id="aopAdvice" expression="execution(* com.yanghao.serviceImpl.*.*(..))"/>
            <aop:advisor advice-ref="advice" pointcut-ref="aopAdvice"/>
        </aop:config>

    <!--模块Bean-->
        <!--Control-->
        <bean id="userAction" class="com.yanghao.web.action.UserAction" scope="prototype">
            <property name="userService" ref="userService"/>
        </bean>
        <!--Service-->
        <bean id="userService" class="com.yanghao.serviceImpl.UserServiceImpl">
            <property name="userDao" ref="userDao"/>
        </bean>
        <!--DAO-->
        <bean id="userDao" class="com.yanghao.daoImpl.UserDaoImpl">
            <property name="sessionFactory" ref="sessionFactoryBean"/>
        </bean>



    <!--整合Hibernate配置-->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
            <property name="driverClass" value="${driverClass}"/>
            <property name="jdbcUrl" value="${jdbcUrl}"/>
            <property name="user" value="${user}"/>
            <property name="password" value="${password}"/>
        </bean><!--数据源配置-->

        <bean id="sessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
            <!--必选配置-->
            <property name="dataSource" ref="dataSource"/>
            <!--可选配置-->
            <property name="hibernateProperties">
                <props>
                    <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                    <prop key="hibernate.show_sql">true</prop>
                    <prop key="hibernate.format_sql">true</prop>
                    <prop key="hibernate.hbm2ddl.auto">update</prop>
                </props>
            </property>
            <!--映射配置-->
            <property name="mappingDirectoryLocations" value="classpath:com/yanghao/bean"/>
        </bean>
</beans>